/* CSS Document */

header{
font-size: large;
color:#fff;
}

body{
/*background-image:url('fundo.jpg') ;
background-size: cover;
background-repeat:no-repeat;
background-attachment:fixed;*/
background-image: linear-gradient(90deg,#41d8fa,#000);
text-align:center;
font-family: Verdana,Arial;
font-size:medium;
vertical-align: center;
}

#box1{
background-color:#fff;
align-items: center;
height:60%;
width:80%;
max-width:350px;
margin:auto;
vertical-align: middle;
}

input{
    text-align: center;
    padding:3px;
}
.botao{
    font-size: medium;
    background-image: linear-gradient(70deg, rgb(0, 200, 255),#fff);
    color:black;
    padding:10px;
}
.botao:hover{
    background-image: linear-gradient(70deg,rgb(137, 225, 250),#fff);
    color: black;
}

#creditos{
    text-align: center;
    color:gray;
    font-size: small;
    margin-top: 20px;
    padding: 20px;
}
