/* CSS Document */

body{
background-color:#4169E1;
background-image:url('fundo.jpg') ;
background-attachment:fixed;
text-align:center;
}

#box1{
font-size: Verdana,Arial;
font-style:normal;
background-color:#fff;
align-items: center;
position:absolute;
top: 20%;
left: 35%;
height:456px;
width:396px;

}

#preencheremail{

border:6px;
top:30px;
}

#preenchersenha{

border:6px;
top:30px;
}

#créditos{
position:absolute;
right:10%;
}

button{
padding:10px;

}
